.slideshow-container {
    position: relative;
    width: 100%;
    height: 300px; /* 设置轮播图的高度 */
    overflow: hidden;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease; /* 设置过渡效果 */
  }
  
  .slide.active {
    opacity: 1;
  }