*{
margin: 0;
padding: 0;
}
.windows{
position: relative;
border: 3px rgb(255, 255, 255) solid;
width: 700px;
height: 400px;
background-color: rgb(250, 186, 186);
margin: 0px auto;
overflow: hidden;
float: left;
}
.leftbtn{
z-index: 999;
 position: absolute;
 box-sizing: border-box;
 top: 195px;
 left: 0;
 width: 50px;
 height: 70px;
 background-color: rgba(136, 135, 135, 0.582);
 line-height: 70px;
 text-align: center;
 font-size: 35px;
 color: rgba(255, 255, 255, 0.609);
 cursor: pointer;
 display: none;
}
.leftbtn:hover{
background-color: rgba(107, 252, 196, 0.623);
color: aliceblue;
}
.rightbtn{
z-index: 999;
 position: absolute;
 box-sizing: border-box;
 top: 195px;
 right: 0;
 width: 50px;
 height: 70px;
 background-color: rgba(136, 135, 135, 0.609);
 line-height: 70px;
 text-align: center;
 font-size: 35px;
 color: rgba(255, 255, 255, 0.596);
 cursor: pointer;
 display: none;
}
.rightbtn:hover{
background-color: rgba(107, 252, 196, 0.623);
color: aliceblue;
}
.imgbox{
position:absolute;
left: 0;
top: 0;
box-sizing: border-box;
width: 500%;
height: 100px;
}
.imgbox li{
float: left;
box-sizing: border-box;
width: 700px;
height: 45px;
list-style: none;
}
.imgbox li a{
box-sizing: border-box;
display: inline-block;
width: 700px;
height: 450px;
background-color: rgb(134, 152, 255);
}
.imgbox li a img{
cursor:auto;
width: 700px;
height: 450px;
}
.circlebox{
position: absolute;
bottom: 0;
width: 700px;
height: 40px;
background-color: rgba(94, 94, 94, 0.486);
 }
.circle {
position: absolute;
bottom: 10px;
left: 300px;
}
.circle li {
float: left;
width: 7px;
height: 7px;
list-style: none;
border: 2px solid rgb(93, 244, 255);
border-radius:100%;
margin: 3px;
cursor: pointer;
background-color: rgb(93, 244, 255);
}
.circlecolor{
background-color: coral !important;
border: 2px solid coral !important;
}
.box1{
    width: 1000px;
    height: 30px;
    margin: 0 auto;
}
.dh1{
    width:1000px; 
    height: 30px; 
    text-align: center; 
    background-color: rgb(12, 104, 241);
}
.dh2{
    width: 100px;
    height:30px; 
    float: left; 
    margin-left: 180px;
}
.dh3{
    width: 100px; 
    height: 30px; 
    float: left; 
    margin-left: 5px; 
    margin-right: 5px;
}
.dh4{
    width: 100px; 
    height: 30px; 
    float: left;
}
.dh5{
    width: 100px; 
    height: 30px; 
    float: left; 
    margin-left: 5px; 
    margin-right: 5px;
}
.dh6{
    width: 100px; 
    height: 30px; 
    float: left;
}
.dh7{
    width: 100px; 
    height: 30px; 
    float: left; 
    margin-left:5px; 
    margin-right: 180px;
}

a{
    font-size: 24px; 
    text-decoration: none; 
    color: #00EE76;
}
a:hover{
border-radius: 0px;
background-color: #feffff62;
}
.a{
    font-size: 24px; 
    /* text-decoration: none;  */
    color: rgb(255, 255, 255);
}
li{
    color: aqua;
}
#ikun1{
    width: 25%; 
    height: 408px;
    margin-left: 50px;
    float: left;
    background-color: #FF69B4;
}

.right{
    width: 27%;
    height: 406px;
    float: left;
    background-color: #00EE76
}
#a{
    width: 460px; 
    height: 220px;
    margin: 0 auto;
    /* background-color: #00EE76; */
}
.text{
font-size: 20px;
color: rgb(252, 89, 25);
}
.Download_box{
position: absolute;
bottom: 0;
width: 700px;
height: 40px;
background-color: rgba(255, 255, 255, 0.486);
}
