
#box{
width: auto;
height: 760px;
/* background-color: #00FF7F; */
}
.logo{
width: 200px;
height: 55px;
float: left;
margin-top: 30px;
margin-left: 250px;
}

.box1{
width: auto;
height: 110px;
/* background-color: aqua; */
border: 2px rgb(rgb(92, 236, 255), rgb(81, 238, 81), rgb(255, 178, 63));
}
.qd1{
width: 90px;
height: 90px;
float: left;
margin-top: 18px;
/* text-align: center; */
color: white;
margin-left: 10px;
line-height: 45px;
font-size: 24px;
background-color: rgb(77, 199, 134);
}
.qd2{
width: 120px;
height: 90px;
float: left;
margin-top: 18px;
color: white;
line-height: 45px;
font-size: 24px;
/* background-color: rgb(77, 199, 134); */
}
.texts{
font-size: 24px;
}
a{
text-decoration: none;
color: black;
}
a:hover{
color: rgb(55, 156, 55);
}